In [24]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

# Configurer Selenium pour charger la page
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
driver = webdriver.Chrome(options=chrome_options)
driver.implicitly_wait(10)
url3= "https://www.expat-dakar.com/tv-home-cinema"
driver.get(url3)  # Récupération du code HTML de la page
Page_source = driver.page_source
soup = bs(driver.page_source, 'html.parser')
# Rechercher tous les éléments d'annonce
WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.CLASS_NAME, "listings-cards__list-item ")))
infos = soup.find_all('div', class_='listings-cards__list-item')
info = infos[0]
# Détails de l'annonce
details = info.find('div', class_='listing-card__header__title').text.strip()
# État de l'annonce
etat = info.find('span', class_='listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_new').text.strip()
# Marque de l'annonce
marque =info.find('div', class_='listing-card__header__tags').text.strip().replace(etat,'')
# Prix
prix = info.find('span', class_='listing-card__price__deal').text.strip().replace('F Cfa','').replace(' ','')
# Adresse
adresse = ' '.join(info.find('div', class_="listing-card__header__location").text.strip().split()).replace(',', '')
# Lien de l'image
image_lien = info.find('img', class_='listing-card__image__resource vh-img')['src']
# Afficher les informations
print(details, etat, marque, prix, adresse, image_lien)

SAMSUNG 75 POUCES SMART TV 4K UHD Neuf Samsung 655 000 Plateau Dakar https://i.roamcdn.net/hz/ed/listing-thumb-224w/8ad0fe655185d468ccdfa1670e54972a/-/horizon-files-prod/ed/picture/q8v5n4wp/39d4721bc1849d6420055bf33282b1c358b9d940.jpg

In [30]:
data = []
for p in range(1, 186):
    url3 = f"https://www.expat-dakar.com/tv-home-cinema?page={p}"
    driver.get(url3)  # recupereration du code html de la page
    Page_source = driver.page_source
    WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.CLASS_NAME, "listings-cards__list-item")))
    soup = bs(Page_source, 'html.parser')
    infos = soup.find_all('div', class_='listings-cards__list-item')
    for info in infos:
        try:
            # Détails de l'annonce
            details = info.find('div', class_='listing-card__header__title').text.strip()
            # État de l'annonce
            etat = info.find('span', class_='listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_new').text.strip()
            # Marque de l'annonce
            marque =info.find('div', class_='listing-card__header__tags').text.strip().replace(etat,'')
            # Prix
            prix = info.find('span', class_='listing-card__price__deal').text.strip().replace('F Cfa','').replace(' ','')
            # Adresse
            adresse = ' '.join(info.find('div', class_="listing-card__header__location").text.strip().split()).replace(',', '')
            # Lien de l'image
            image_lien = info.find('img', class_='listing-card__image__resource vh-img')['src']
            dic = {'details':details, 'etat':etat, 'marque':marque, 'prix': prix, 'adresse':adresse, 'image_lien': image_lien}
            data.append(dic)


        except:
            pass

# Convertir le set en liste de dictionnaires
DF = pd.DataFrame(data)
DF.shape

(247, 6)

In [31]:
DF.head(10)

,details,etat,marque,prix,adresse,image_lien
0,SAMSUNG 75 POUCES SMART TV 4K UHD,Neuf,Samsung,655 000,Plateau Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
1,SMART TV FINIX 55 POUCES WIFI ANDROID UHD,Neuf,Autre,245 000,Keur Massar Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
2,"SMART LG 55"" UHD 4K (2024)",Neuf,LG,330 000,Pikine Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
3,SMART TV FINIX 43 POUCES WIFI 10.8CM,Neuf,Autre,130 000,Keur Massar Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
4,SAMSUNG 75 POUCES SMART TV 4K UHD,Neuf,Samsung,655 000,Plateau Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
5,"SONY BRAVIA 85"" Google TV 4K",Neuf,Sony,1 400 000,Patte d‘oie Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
6,"smart samsung 65"" uhd 4k full options",Neuf,Samsung,424 900,Ouakam Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
7,ASTECH TV LED 43 POUCES SMART TV WiFi,Neuf,Astech,132 000,Plateau Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
8,"SAMSUNG SMART 70"" UHD 4K",Neuf,Samsung,599 000,Pikine Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
9,"tv smart haier 43"" android full options",Neuf,Haier,129 900,Ouakam Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...

In [32]:
DF.isnull().sum()

details       0
etat          0
marque        0
prix          0
adresse       0
image_lien    0
dtype: int64

In [33]:
DF.duplicated().sum()

172

In [34]:
DF.dtypes

details       object
etat          object
marque        object
prix          object
adresse       object
image_lien    object
dtype: object

In [35]:
DF.describe()

,details,etat,marque,prix,adresse,image_lien
count,247,247,247,247,247,247
unique,74,1,13,59,13,75
top,SAMSUNG 75 POUCES SMART TV 4K UHD,Neuf,Samsung,655 000,Plateau Dakar,https://i.roamcdn.net/hz/ed/listing-thumb-224w...
freq,173,247,194,173,192,173

In [36]:
DF.to_csv('Home_Cinema.csv', index=False)
DF.to_excel('Home_Cinema.xlsx', index=False)